{% extends 'base.html' %}

{% block title %}Historia clínica{% endblock %}

{% block content %}
<div class="container mt-5">
    <!-- Barra superior -->
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h2 class="me-4">Paciente {{ patient.first_name }} {{patient.last_name}}</h2>
        <div class="d-flex" style="gap: 15px;">
            <a href="{{ url_for('all_patients') }}" class="btn btn-success btn-sm" data-bs-toggle="tooltip" title="Regresar">
                <i class="fas fa-arrow-left"></i>
            </a>
        </div>
    </div>
    <!-- Línea de separación -->
    <div class="line-separator"></div>

    <!-- Información personal del paciente -->
    <div class="card mb-4">
        <div class="card-body">
            <h5 class="card-title">Información Personal</h5>
            <div class="line-separator"></div>
            <p><strong>Nombre Completo:</strong> {{ patient.first_name }} {{ patient.last_name }} </p>
            <p><strong>Tipo de Documento:</strong> {{ patient.docu_type }}</p>
            <p><strong>Número de Documento:</strong> {{ patient.docu_number }}</p>
            <p><strong>Ocupación:</strong> {{ patient.occupation }}</p>
            <p><strong>Fecha de Nacimiento:</strong> {{ patient.birthdate }}</p>
            <p><strong>Lugar de Nacimiento:</strong> {{ patient.birth_place }}</p>
            <p><strong>Estado Civil:</strong> {{ patient.civil_status }}</p>
            <p><strong>EPS:</strong> {{ patient.eps }}</p>
        </div>
    </div>

    <!-- Información de contacto -->
    <div class="card mb-4">
        <div class="card-body">
            <h5 class="card-title">Información de Contacto</h5>
            <div class="line-separator"></div>
            <p><strong>Teléfono:</strong> {{ patient.phone }}</p>
            <p><strong>Dirección:</strong> {{ patient.address }}</p>
            <p><strong>Correo Electrónico:</strong> {{ patient.email }}</p>
            <p><strong>Residencia:</strong> {{ patient.residence }}</p>
        </div>
    </div>

    <!-- Contacto de emergencia del paciente -->
    <div class="card mb-4">
        <div class="card-body">
            <h5 class="card-title">Contacto de Emergencia</h5>
            <div class="line-separator"></div>
            <p><strong>Nombre:</strong> {{ patient.emergency_contact }}</p>
            <p><strong>Teléfono:</strong> {{ patient.emergency_number }}</p>
            <p><strong>Relación:</strong> {{ patient.emergency_relationship }}</p>
        </div>
    </div>

    <!-- Información personal del paciente -->
    <div class="card mb-4">
        <div class="card-body">
            <h5 class="card-title">Seguimiento clínico</h5>
            <div class="line-separator"></div>
            <table class="table">
                <thead>
                    <tr>
                        <th>Motivo de Consulta</th>
                        <th>Medicamentos</th>
                        <th>Antecedentes Personales</th>
                        <th>Área Personal</th>
                        <th>Área Social</th>
                        <th>Área Familiar</th>
                        <th>Área Ocupacional</th>
                        <th>Fecha de Creación </th>
                    </tr>
                </thead>
                <tbody>
                    {% if histories %}
                        {% for history in histories %}
                        <tr>
                            <td>{{ history.reason_consult }}</td>
                            <td>{{ history.medication }}</td>
                            <td>{{ history.personal_history }}</td>
                            <td>{{ history.personal_area }}</td>
                            <td>{{ history.social_area }}</td>
                            <td>{{ history.familiar_area }}</td>
                            <td>{{ history.occupational_area }}</td>
                            <td>{{ history.history_created_at }}</td> 
                        </tr>
                        {% endfor %}
                    {% else %}
                        <td>Sin registro</td>
                        <td>Sin registro</td>
                        <td>Sin registro</td>
                        <td>Sin registro</td>
                        <td>Sin registro</td>
                        <td>Sin registro</td>
                        <td>Sin registro</td>
                        <td>Sin registro</td>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}