# Entornos virtuales
venv/
env/
.venv/
.env/

# Archivos compilados
__pycache__/
*.py[cod]

# Archivos de entorno
.env

# Bases de datos locales
*.sqlite3

# Configuraciones del IDE
.vscode/
*.code-workspace
.idea/

# Archivos de sistema
.DS_Store
Thumbs.db
